<%- include("partials/header"); -%>

<div class="e">
  <em>Myself,</em>
</div>
<h1>RAUNAK SINGH</h1>

<div class="intro">
  <h3>Passionate about coding with excellent problem solving skills with the ability to perform well in a team.</h3>
  <h3>I am an enthusiastic learner and a self motivated student. </h3>
</div>



<%- include("partials/footer"); -%>
